.flat-admin-outline {
  border: 2px solid #17c653 !important; /* Metronic success green */
  color: #17c653 !important;
  background-color: transparent !important;
}

.flat-admin-outline:hover {
  background-color: #17c653 !important;
  color: #ffffff !important;
}

.flat-admin-outline-danger {
  border: 2px solid #f1416c !important; /* Metronic danger red */
  color: #f1416c !important;
  background-color: transparent !important;
}

.flat-admin-outline-danger:hover {
  background-color: #f1416c !important;
  color: #ffffff !important;
}

.flat-admin-update {
  border: 2px solid #ffee00 !important; /* Metronic success green */
  color: #ffee00 !important;
  background-color: transparent !important;
}

.flat-admin-update:hover {
  background-color: #ffee00 !important;
  color: #ffffff !important;
}