<!--begin::Card widget 7-->
<div class="card card-flush" [ngClass]="cssClass">
  <!--begin::Header-->
  <div class="card-header pt-5">
    <!--begin::Title-->
    <div class="card-title d-flex flex-column">
      <!--begin::Amount-->
      <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">{{stats}}</span>
      <!--end::Amount-->

      <!--begin::Subtitle-->
      <span class="text-gray-800 pt-1 fw-semibold fs-6">{{description}}</span>
      <!--end::Subtitle-->
    </div>
    <!--end::Title-->
  </div>
  <!--end::Header-->
</div>
<!--end::Card widget 7-->
