<div class="card shadow-sm">

  <!-- HEADER -->
  <div class="card-header py-3">
    <h3 class="card-title mb-0 fw-bold">Quick Actions</h3>
  </div>

  <!-- BODY -->
  <div class="card-body">

    <!-- GRID FOR WEB & MOBILE -->
    <div class="row g-3">

      <!-- ADD ADMIN -->
      <div class="col-6 col-md-3" *ngIf="canAddAdmin()">
        <button class="btn btn-light-primary w-100 h-100 action-btn" (click)="gotoAdmin()">
          <i class="bi bi-person-gear fs-3 mb-2"></i>
          <span>Add Admin</span>
        </button>
      </div>

      <!-- ADD APARTMENT (If not) -->
      <div class="col-6 col-md-3" *ngIf="canAddApartment()">
        <button class="btn btn-light-warning w-100 h-100 action-btn" (click)="gotoApartment()">
          <i class="bi bi-house fs-3 mb-2"></i>
          <span>Add Apartment</span>
        </button>
      </div>

      <!-- RENT -->
      <div class="col-6 col-md-3" *ngIf="canAddRent?.()">
        <button class="btn btn-light-danger w-100 h-100 action-btn" (click)="gotoRent()">
          <i class="bi bi-cash-stack fs-3 mb-2"></i>
          <span>Rent</span>
        </button>
      </div>

      <!-- ADD FLAT Rent -->
      <div class="col-6 col-md-3" *ngIf="canAddFlatRent()">
        <button class="btn btn-light-danger w-100 h-100 action-btn" (click)="gotoFlatRent()">

          <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="bi bi-house fs-3"></i>
            <i class="bi bi-cash-stack fs-3"></i>
          </div>

          <span class="d-block mt-2">Add Rent</span>
        </button>
      </div>

      <!-- LIGHT BILL -->
      <div class="col-6 col-md-3" *ngIf="canAddRent?.()">
        <button class="btn btn-light-warning w-100 h-100 action-btn" (click)="gotoLightBill()">
          <i class="bi bi-lightbulb fs-3 mb-2"></i>
          <span>Light Bill</span>
        </button>
      </div>

      <!-- ADD FLAT LIGHT BILL -->
      <div class="col-6 col-md-3" *ngIf="canAddFlatRent()">
        <button class="btn btn-light-warning w-100 h-100 action-btn" (click)="gotoFlatLightBill()">

          <div class="d-flex justify-content-center align-items-center gap-2">
            <i class="bi bi-house fs-3"></i>
            <i class="bi bi-lightbulb fs-3"></i>
          </div>

          <span class="d-block mt-2">Add Light Bill</span>
        </button>
      </div>

      <!-- ADD FLAT -->
      <div class="col-6 col-md-3" *ngIf="canAddFlat()">
        <button class="btn btn-light-success w-100 h-100 action-btn" (click)="gotoFlat()">
          <i class="bi bi-house fs-3 mb-2"></i>
          <span>Add Flat</span>
        </button>
      </div>

      <!-- ADD MEMBER -->
      <div class="col-6 col-md-3" *ngIf="canAddMember()">
        <button class="btn btn-light-success w-100 h-100 action-btn" (click)="gotoMember()">
          <i class="bi bi-person-plus fs-3 mb-2"></i>
          <span>Add Member</span>
        </button>
      </div>

      <!-- ADD COMMENT  canInventory apartment_admin, flat_admin & resident have access that's why -->
      <div class="col-6 col-md-3" *ngIf="canInventory()">
        <button class="btn btn-light-danger w-100 h-100 action-btn" (click)="gotoComment()">
          <i class="bi bi-bell fs-3 mb-2"></i>
          <span>Updates</span>
        </button>
      </div>

      <!-- INVENTORY -->
      <div class="col-6 col-md-3" *ngIf="canInventory()">
        <button class="btn btn-light-info w-100 h-100 action-btn" (click)="gotoInventory()">
          <i class="bi bi-box-seam fs-3 mb-2"></i>
          <span>Inventory</span>
        </button>
      </div>


    </div>

  </div>
</div>