<a
  class="btn btn-flex flex-left btn-custom btn-primary overflow-hidden text-nowrap h-40px w-100"
  data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" style="background-color: #004e8f;"> 

  <span class="btn-label">
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" (click)="logout()">
      <span class="menu-link" >
        <span class="menu-icon">
          <app-keenicon name="exit-right" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" style="color: red; font-size: larger;"><b>Logout</b>
        </span>
      </span>
    </div>
  </span>
</a>