<div class="d-flex flex-column flex-lg-row flex-column-fluid">
  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="<?php echo $params['wrapperClass']?> p-10">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

    <!--begin::Footer-->
    <div class="d-flex flex-center flex-wrap px-5">
      <!--begin::Links-->
      <div class="d-flex fw-semibold text-primary fs-base">
        <a href="https://www.instagram.com/pramod.bhoite18/" class="px-5" target="_blank"><i>Made with ❤️ by</i> </a>
        <a href="https://www.instagram.com/pramod.bhoite18/" class="px-5" target="_blank">Pramod_Bhoite <b>P18</b> </a>
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Body-->

</div>