/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

/* PWA Install UI */

.ios-install-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  z-index: 9999;
}

.android-install-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999;

  button {
    background: #0d6efd;
    color: #fff;
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
}
