<div class="app-container d-flex align-items-center px-3 px-lg-6" [ngClass]="headerContainerCssClass">

  <!-- ================= LEFT : TOGGLES + LOGO ================= -->
  <div class="d-flex align-items-center">

    <!-- Desktop sidebar toggle -->
    <button *ngIf="appSidebarDefaultCollapseDesktopEnabled"
      class="btn btn-icon btn-light-primary w-40px h-40px me-2 d-none d-lg-flex" data-kt-toggle="true"
      data-kt-toggle-target="body" data-kt-toggle-mode="on" data-kt-toggle-name="app-sidebar-collapse">
      <app-keenicon name="double-right"></app-keenicon>
    </button>

    <!-- Mobile sidebar toggle -->
    <button class="btn btn-icon btn-light-primary w-40px h-40px d-lg-none" id="kt_app_sidebar_mobile_toggle">
      <app-keenicon name="abstract-14"></app-keenicon>
    </button>

    <!-- Logo -->
   <a routerLink="/dashboard"> <img src="./assets/media/logos/logo.png" class="h-30px ms-2" alt="Logo" /></a>
  </div>

  <!-- ================= CENTER : TITLE ONLY ================= -->
  <div class="flex-grow-1 text-center px-3 text-truncate" *ngIf="role === 'super_admin'">
    <span class="fw-bold fs-5">
       {{ headerTitle }}
    </span>
  </div>
  <div class="flex-grow-1 text-center px-3 text-truncate" *ngIf="role === 'apartment_admin'">
    <span class="fw-bold fs-5">
      🏢 {{ headerTitle }}
    </span> <br>
    👤 {{ user_details }}
  </div>
  <div class="flex-grow-1 text-center px-3 text-truncate" *ngIf="role === 'flat_admin'">
    <span class="fw-bold fs-5">
      🏢 {{ headerTitle }}
    </span> <br>
    🏠 {{ flat_details }} &nbsp; 👤 {{ user_details }}
  </div>
  <div class="flex-grow-1 text-center px-3 text-truncate" *ngIf="role === 'resident'">
    <span class="fw-bold fs-5">
      🏢 {{ headerTitle }}
    </span> <br>
    🏠 {{ flat_details }} &nbsp; 👤 {{ user_details }}
  </div>

  <!-- ================= RIGHT : NAVBAR ONLY ================= -->
  <div class="d-flex align-items-center">
    <app-navbar class="app-navbar flex-shrink-0" [appHeaderDefaulMenuDisplay]="appHeaderDefaulMenuDisplay"
      [isRtl]="false"></app-navbar>
  </div>

</div>